#
#Fingerprint
#

config MTK_FINGERPRINT
	tristate "Mediatek Fingerprint"
	default n
	---help---

source "drivers/input/fingerprint/gsl6163/Kconfig"
source "drivers/input/fingerprint/gfx1xm/Kconfig"
source "drivers/input/fingerprint/et320/Kconfig"
source "drivers/input/fingerprint/a120n/Kconfig"
source "drivers/input/fingerprint/jmt101/Kconfig"
source "drivers/input/fingerprint/sw9362n/Kconfig"
source "drivers/input/fingerprint/gf3208/Kconfig"
source "drivers/input/fingerprint/sunwave_fp/Kconfig"
