#
# Touchscreen driver configuration
#
if TOUCHSCREEN_MTK_S2202

config TPD_ROTATE_90
	bool "S2202 for Mediatek package"
	default n
	help
	Say Y here if you have S2202 touch panel TPD_ROTATE_90.

	If unsure, say N.

	To compile this dirver as a module, choose M here: the
	module will be called.

config TPD_ROTATE_180
	bool "S2202 for Mediatek package"
	default n
	help
	Say Y here if you have S2202 touch panel TPD_ROTATE_180.

	If unsure, say N.

	To compile this dirver as a module, choose M here: the
	module will be called.

config TPD_ROTATE_270
	bool "S2202 for Mediatek package"
	default n
	help
	Say Y here if you have S2202 touch panel TPD_ROTATE_270.

	If unsure, say N.

	To compile this dirver as a module, choose M here: the
	module will be called.

endif
